.easylist-container {
    width: 100%;
  }
  
  .easylist ul {
    display: flex;
    list-style: none; /* Removes bullet points from list items */
    gap: 50px;
    margin: 15px;
    justify-content: center;
    padding: 0;
  }
  
  .easylist li a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Inherits text color from the parent */
    cursor: pointer; /* Ensures pointer cursor on hover */
  }
  
  
  